.LeftSideBarBottom {
    width: 100%;
}

.Top {
    margin-bottom: 22px;
}

.Top * {
    margin: 8px 0;
}

.TopText {
    font-size: 18px;
}

.CopyrightText {
    font-size: 12px;
    font-weight: lighter;
}

.PrivacyButton {
    color: black;
    font-size: 18px;

    font-weight: 600;
}


@media (max-width: 600px) {
    .LeftSideBarBottom {
        border-top: 1px solid white;

        scroll-snap-align: start;
        background-color: #e30512;

        color: white;
        padding: 14px 18px 18px 18px;
        text-align: center;
    }

    .LeftSideBarBottom * {
        color: white;
    }

    .CopyrightText {
        font-weight: 500;
    }

    .PrivacyButton {
        text-decoration: none;
        color: lightyellow;
    }
}