.main {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;

    /*position: absolute;*/
    /*z-index: -1;*/
    padding: 10% 0;
    /*border: 1px solid black;*/
}

.main * {
    text-decoration: none;
}

.MainMagazineOverview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 100%;

    border: 0px solid black;
}

.MagazineCover {
    width: 60%;
}

.MagazineBuy {
    background: none;
    border: 0px;

    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    /*text-decoration: none;*/

    color: deeppink;
    margin: 1rem 0;
}

.selectedStores {
    text-decoration: none;
    color: deeppink;
}

.lastLine {
    margin-top: 12px;
}