center {
  width: 100vw;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;

  font-weight: 600;
  font-size: 22px;
  position: fixed;
}

center:after {
  content: "Backstage Talks";
  color: orangered;

  position: fixed;
  left: 41.1%;
}

.github-footer {
  position: fixed;
  bottom: 5%;
}

.github-footer a {
  text-decoration: none;
  color: darkolivegreen;

  font-family: monospace;
  letter-spacing: -1px;
}
.github-footer a:hover {
  text-transform: uppercase;
}