.app {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;

    overflow-y: scroll;
}

.contentRow {
    display: flex;
    flex-direction: column;

    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

/*Right*/
.footer {
    width: 25vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: flex-end;
    justify-content: space-between;

    padding: 18px 12px;
    /*border: 1px solid black;*/

    position: fixed;
    right: 0%;
}

/*Left*/
.LeftSideBar {
    width: 25vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    /*align-items: center;*/
    justify-content: space-between;

    padding: 18px 12px;
    /*border: 1px solid black;*/

    font-weight: bold;
    position: fixed;
    left: 0%;
}

.headerImage {
    width: 80%;
    height: fit-content;
    cursor: pointer;
}



@media (max-width: 600px) {
    .LeftSideBar {
        width: 100vw;
        height: fit-content;

        display: flex;
        flex-direction: row;

        position: absolute;

    }
    .headerImage {
        width: 30%;
    }

    .MailText {
        font-size: 13px;
    }
}